<!--
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card col-md-6">
                <br>
                <textarea class="form-control" rows="3" cols="50" id="inputPost" placeholder="Got something to say?" maxlength="3"></textarea>
                <label id="charRemaining" for="inputPost">3</label>
            <div class="row">
                <div class="col-md-3">
                    -->
                    <!-- Button -->
                    <!--
                    <button type="text" id="postBtn" class="btn btn-primary">Post</button>
                    -->
                <!--
                </div>
            </div>
        <br>
        -->
        <!--
            <button id="btn-count" type="button" class="btn btn-primary">
                Comments <span id="count" class="badge badge-light"></span>
            </button>
            -->
        </div>
    </div>
    <div id="leaderboardDiv" style = "font: 'BankGothicBold';">
        <!--
	{{#each score}}
       <div class="row justify-content-md-center pt-4">
         <div class="card col-md-6"><div class="row">
           <div class="col-md-9">{{userName}}</div>
           <div class ="col-md-9">{{highScore}}</div>
           </div>
          </div>
         </div>
    {{/each}}
    -->
	
    </div>
</div>
<script src="/javascripts/feed.js"></script>